@media (max-width: 1140px) {
  .wrapper {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .card {
    width: 95%;
  }
}
@media (max-width: 755px) {
  .card {
    width: 95%;
  }
  .card-title {
    font-size: 21px;
  }
}
@media (max-width: 630px) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 32px;
  }
  .card-title {
    font-size: 28px;
  }
  .card-download {
    font-size: 20px;
  }
}
